.root {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.label, .button, .check-box, .radio-button, .menu-button, .text-field, .text-area, .toggle-button {
    -fx-text-fill: black;
}

.button, .toggle-button{
    -fx-background-color: #e0e0e0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0.3, 0, 1);
}

.button:hover, .toggle-button:hover, .menu-button:hover {
    -fx-background-color: #d0d0d0;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.4), 4, 0.3, 0, 2);
}

.button:pressed, .toggle-button:pressed, .menu-button:pressed {
    -fx-background-color: #bcbcbc;
    -fx-translate-y: 1;
}

.menu-button {
    -fx-background-color: #e0e0e0;
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-font-weight: bold;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 2, 0.3, 0, 1);
}

.game-panel {
    -fx-background-color: #e0e0e0;
    -fx-border-color: black;
    -fx-border-width: 1px;
}